<p class="text-green-600"><%= notice %></p>

<h1 class="text-lg font-semibold">Posts</h1>

<div class="my-2">
  <%= link_to "New post", new_post_path, class: "px-2 py-1 text-white bg-blue-600 rounded hover:bg-blue-800" %>
</div>

<div id="posts">
  <% @posts.each do |post| %>
    <div>
      <%= link_to post.title, post, class: "text-blue-600 hover:text-blue-800" %>
    </div>
  <% end %>
</div>
